<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--suppress HibernateConfigDomFacetInspection -->
<hibernate-configuration>
    <session-factory>

        <property name="dialect">repository.org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:farmacieSpital.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!--<property name="current_session_context_class">thread</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping resource="domain/Medicament.hbm.xml"/>
        <mapping resource="domain/Sectie.hbm.xml"/>
        <mapping resource="domain/Comanda.hbm.xml"/>
        <mapping resource="domain/Farmacist.hbm.xml"/>
        <mapping resource="domain/PersonalMedical.hbm.xml"/>

    </session-factory>
</hibernate-configuration>